<!-- index.html  -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="CSS1.css"> <!-- CSS1.css를 읽도록 하는 링크 태그 추가  -->
	<style>
		h1 {
			color: red;
		}

		p {
			background-color: black;
			color: white;
		}
	</style>

</head>
<body>
	<h1>You can visit this page at Githubpages</h1>
	<p>이 예제를 따라 하시면 매우 간단하게 웹 호스팅까지 하실 수 있습니다.</p>
	<p><h3>h3 태그가 추가되었습니다.</h3></p>
</body>
</html>

/* CSS1.css */

* {
	background-color: black;
}

h3 {
	color: white;
}
